<div class="comments">
  {{#each this}}
    <h5>{{User.username}}</h5>
    <div class="text">
      <p> {{comment_body}} </p>
    </div>
   
</div>

  {{/each}}
</div>
{{#if logged_in}}
<script src="/js/comment.js"></script>
 {{/if}}